*.meta
.vs/PureMVC_Demo/v15/.suo
.vs/PureMVC_Demo/v15/Server/sqlite3/db.lock
*.ide-wal
*.ide-shm
*.ide
*.cache
*.lock
Temp/UnityLockfile
Library/assetDatabase3
Library/metadata/04/04060b2892e46994c8bed5e86cc55c39
Library/metadata/04/04060b2892e46994c8bed5e86cc55c39.info
Library/metadata/08/08b887f792736bc47b499a0836c9d0b4
Library/metadata/19/19c9650a3c2e4324a8464bad05109418
Library/metadata/22/220c928473a060742934572026bd331d
Library/metadata/25/25b9c3cced2a00e458b1fac119efb2b1
Library/metadata/2c/2cae4b6787be43d46b8d36bfe8cce1bc
Library/metadata/3d/3dcdf6cf36a2a764d825c2884a175a60
Library/metadata/41/41062b8b32a28384c8af62189f46c9a0
Library/metadata/4a/4a5a9f09828059d46bc2df6401bc276f
Library/metadata/66/66f99565411320146b71636ca1c5e2ac
Library/metadata/71/71ec7b3adab808f46bd322881a3bc5fd
Library/metadata/71/71ec7b3adab808f46bd322881a3bc5fd.info
Library/metadata/7d/7da29f02925d1bc458472cef70b3a589
Library/metadata/7d/7de230843d66f8c4f8e206c0667d2589
Library/metadata/7f/7f298cdd5b04b1e4492c00e75e2dc4c4
Library/metadata/80/801f3717dc706ba419792f98e01c1d93
Library/metadata/8b/8b2da911d3662554a8655e423a6c071c
Library/metadata/93/939e890efe4517342ba2ae8d7f25e866
Library/metadata/93/93e97f13803aa7b4aa70185fc3fe3a45
Library/metadata/9d/9dd7eb7c1d782134189bfc2f5c06c677
Library/metadata/a4/a43b97728ffcd6e4b8497cb1981eb1a5
Library/metadata/a6/a6daf17aceb0f49488b6739c1f97ac7a
Library/metadata/ab/ab4e50221ea9bc342a12d74928309ef2
Library/metadata/b2/b27492320d5548c4eb86e0caa29b340b
Library/metadata/b8/b88e27868caa8484a84748ec47891e90
Library/metadata/b8/b88e27868caa8484a84748ec47891e90.info
Library/metadata/b9/b98307a7d0deaf24abc3458070974c3e
Library/metadata/c6/c6c2eb78777bdcc438143b12bce2f2c8
Library/metadata/c8/c850a368a43467c46b30d1d409d7860b
Library/metadata/cb/cbfb161822e34cb4d8adf692e2dcb1f7
Library/metadata/e7/e7288a84ffceed84bb950e778536f271
Library/metadata/e8/e8ffba6251e64814eba9060a3a00c9af
Library/metadata/e8/e8ffba6251e64814eba9060a3a00c9af.info
Library/metadata/f5/f5107e0c6e90d1f4aa60bda2fc5dfe6a
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/StateCache/Hierarchy/05a1fe-mainStage.json
Library/StateCache/Hierarchy/1893ea-mainStage.json
Library/StateCache/Hierarchy/b85d88-mainStage.json
Library/StateCache/SceneView/0676b0-mainStage.json
Library/StateCache/SceneView/0ed0a8-mainStage.json
Library/StateCache/SceneView/30a058-mainStage.json
Library/StateCache/SceneView/7e9064-mainStage.json
Library/StateCache/SceneView/85cbfd-mainStage.json
obj/Debug/Assembly-CSharp.csproj.CopyComplete
obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp.pdb
Temp/__Backupscenes/0.backup
Temp/bin/Debug/Assembly-CSharp.dll
Temp/bin/Debug/Assembly-CSharp.pdb
Temp/bin/Debug/Boo.Lang.Compiler.dll
Temp/bin/Debug/Boo.Lang.dll
Temp/bin/Debug/Boo.Lang.Parser.dll
Temp/bin/Debug/Boo.Lang.PatternMatching.dll
Temp/bin/Debug/Boo.Lang.Useful.dll
Temp/bin/Debug/ExCSS.Unity.dll
Temp/bin/Debug/mscorlib.dll
Temp/bin/Debug/nunit.framework.dll
Temp/bin/Debug/nunit.framework.xml
Temp/bin/Debug/System.Core.dll
Temp/bin/Debug/System.dll
Temp/bin/Debug/System.Runtime.Serialization.dll
Temp/bin/Debug/System.Xml.dll
Temp/bin/Debug/System.Xml.Linq.dll
Temp/bin/Debug/Unity.Analytics.DataPrivacy.dll
Temp/bin/Debug/Unity.Analytics.Editor.dll
Temp/bin/Debug/Unity.Analytics.StandardEvents.dll
Temp/bin/Debug/Unity.Analytics.Tracker.dll
Temp/bin/Debug/Unity.Cecil.dll
Temp/bin/Debug/Unity.Cecil.Mdb.dll
Temp/bin/Debug/Unity.Cecil.Pdb.dll
Temp/bin/Debug/Unity.CecilTools.dll
Temp/bin/Debug/Unity.CollabProxy.Editor.dll
Temp/bin/Debug/Unity.DataContract.dll
Temp/bin/Debug/Unity.IvyParser.dll
Temp/bin/Debug/Unity.Legacy.NRefactory.dll
Temp/bin/Debug/Unity.Locator.dll
Temp/bin/Debug/Unity.PackageManagerUI.Editor.dll
Temp/bin/Debug/Unity.SerializationLogic.dll
Temp/bin/Debug/Unity.TextMeshPro.dll
Temp/bin/Debug/Unity.TextMeshPro.Editor.dll
Temp/bin/Debug/Unity.UNetWeaver.dll
Temp/bin/Debug/UnityEditor.dll
Temp/bin/Debug/UnityEditor.xml
Temp/bin/Debug/UnityEngine.AccessibilityModule.dll
Temp/bin/Debug/UnityEngine.AccessibilityModule.xml
Temp/bin/Debug/UnityEngine.Advertisements.dll
Temp/bin/Debug/UnityEngine.Advertisements.Editor.dll
Temp/bin/Debug/UnityEngine.AIModule.dll
Temp/bin/Debug/UnityEngine.AIModule.xml
Temp/bin/Debug/UnityEngine.AnimationModule.dll
Temp/bin/Debug/UnityEngine.AnimationModule.xml
Temp/bin/Debug/UnityEngine.ARModule.dll
Temp/bin/Debug/UnityEngine.ARModule.xml
Temp/bin/Debug/UnityEngine.AssetBundleModule.dll
Temp/bin/Debug/UnityEngine.AssetBundleModule.xml
Temp/bin/Debug/UnityEngine.AudioModule.dll
Temp/bin/Debug/UnityEngine.AudioModule.xml
Temp/bin/Debug/UnityEngine.BaselibModule.dll
Temp/bin/Debug/UnityEngine.BaselibModule.xml
Temp/bin/Debug/UnityEngine.ClothModule.dll
Temp/bin/Debug/UnityEngine.ClothModule.xml
Temp/bin/Debug/UnityEngine.ClusterInputModule.dll
Temp/bin/Debug/UnityEngine.ClusterInputModule.xml
Temp/bin/Debug/UnityEngine.ClusterRendererModule.dll
Temp/bin/Debug/UnityEngine.ClusterRendererModule.xml
Temp/bin/Debug/UnityEngine.CoreModule.dll
Temp/bin/Debug/UnityEngine.CoreModule.xml
Temp/bin/Debug/UnityEngine.CrashReportingModule.dll
Temp/bin/Debug/UnityEngine.CrashReportingModule.xml
Temp/bin/Debug/UnityEngine.DirectorModule.dll
Temp/bin/Debug/UnityEngine.DirectorModule.xml
Temp/bin/Debug/UnityEngine.dll
Temp/bin/Debug/UnityEngine.FileSystemHttpModule.dll
Temp/bin/Debug/UnityEngine.FileSystemHttpModule.xml
Temp/bin/Debug/UnityEngine.GameCenterModule.dll
Temp/bin/Debug/UnityEngine.GameCenterModule.xml
Temp/bin/Debug/UnityEngine.GoogleAudioSpatializer.dll
Temp/bin/Debug/UnityEngine.GoogleAudioSpatializer.xml
Temp/bin/Debug/UnityEngine.GridModule.dll
Temp/bin/Debug/UnityEngine.GridModule.xml
Temp/bin/Debug/UnityEngine.HotReloadModule.dll
Temp/bin/Debug/UnityEngine.HotReloadModule.xml
Temp/bin/Debug/UnityEngine.ImageConversionModule.dll
Temp/bin/Debug/UnityEngine.ImageConversionModule.xml
Temp/bin/Debug/UnityEngine.IMGUIModule.dll
Temp/bin/Debug/UnityEngine.IMGUIModule.xml
Temp/bin/Debug/UnityEngine.InputModule.dll
Temp/bin/Debug/UnityEngine.InputModule.xml
Temp/bin/Debug/UnityEngine.JSONSerializeModule.dll
Temp/bin/Debug/UnityEngine.JSONSerializeModule.xml
Temp/bin/Debug/UnityEngine.LocalizationModule.dll
Temp/bin/Debug/UnityEngine.LocalizationModule.xml
Temp/bin/Debug/UnityEngine.Networking.dll
Temp/bin/Debug/UnityEngine.Networking.xml
Temp/bin/Debug/UnityEngine.ParticleSystemModule.dll
Temp/bin/Debug/UnityEngine.ParticleSystemModule.xml
Temp/bin/Debug/UnityEngine.PerformanceReportingModule.dll
Temp/bin/Debug/UnityEngine.PerformanceReportingModule.xml
Temp/bin/Debug/UnityEngine.Physics2DModule.dll
Temp/bin/Debug/UnityEngine.Physics2DModule.xml
Temp/bin/Debug/UnityEngine.PhysicsModule.dll
Temp/bin/Debug/UnityEngine.PhysicsModule.xml
Temp/bin/Debug/UnityEngine.ProfilerModule.dll
Temp/bin/Debug/UnityEngine.ProfilerModule.xml
Temp/bin/Debug/UnityEngine.ScreenCaptureModule.dll
Temp/bin/Debug/UnityEngine.ScreenCaptureModule.xml
Temp/bin/Debug/UnityEngine.SharedInternalsModule.dll
Temp/bin/Debug/UnityEngine.SharedInternalsModule.xml
Temp/bin/Debug/UnityEngine.SpatialTracking.dll
Temp/bin/Debug/UnityEngine.SpatialTracking.xml
Temp/bin/Debug/UnityEngine.SpatialTrackingModule.dll
Temp/bin/Debug/UnityEngine.SpatialTrackingModule.xml
Temp/bin/Debug/UnityEngine.SpriteMaskModule.dll
Temp/bin/Debug/UnityEngine.SpriteMaskModule.xml
Temp/bin/Debug/UnityEngine.SpriteShapeModule.dll
Temp/bin/Debug/UnityEngine.SpriteShapeModule.xml
Temp/bin/Debug/UnityEngine.StreamingModule.dll
Temp/bin/Debug/UnityEngine.StreamingModule.xml
Temp/bin/Debug/UnityEngine.StyleSheetsModule.dll
Temp/bin/Debug/UnityEngine.StyleSheetsModule.xml
Temp/bin/Debug/UnityEngine.SubstanceModule.dll
Temp/bin/Debug/UnityEngine.SubstanceModule.xml
Temp/bin/Debug/UnityEngine.TerrainModule.dll
Temp/bin/Debug/UnityEngine.TerrainModule.xml
Temp/bin/Debug/UnityEngine.TerrainPhysicsModule.dll
Temp/bin/Debug/UnityEngine.TerrainPhysicsModule.xml
Temp/bin/Debug/UnityEngine.TestRunner.dll
Temp/bin/Debug/UnityEngine.TestRunner.xml
Temp/bin/Debug/UnityEngine.TextCoreModule.dll
Temp/bin/Debug/UnityEngine.TextCoreModule.xml
Temp/bin/Debug/UnityEngine.TextRenderingModule.dll
Temp/bin/Debug/UnityEngine.TextRenderingModule.xml
Temp/bin/Debug/UnityEngine.TilemapModule.dll
Temp/bin/Debug/UnityEngine.TilemapModule.xml
Temp/bin/Debug/UnityEngine.Timeline.dll
Temp/bin/Debug/UnityEngine.Timeline.xml
Temp/bin/Debug/UnityEngine.TimelineModule.dll
Temp/bin/Debug/UnityEngine.TimelineModule.xml
Temp/bin/Debug/UnityEngine.TLSModule.dll
Temp/bin/Debug/UnityEngine.TLSModule.xml
Temp/bin/Debug/UnityEngine.UI.dll
Temp/bin/Debug/UnityEngine.UI.xml
Temp/bin/Debug/UnityEngine.UIElementsModule.dll
Temp/bin/Debug/UnityEngine.UIElementsModule.xml
Temp/bin/Debug/UnityEngine.UIModule.dll
Temp/bin/Debug/UnityEngine.UIModule.xml
Temp/bin/Debug/UnityEngine.UmbraModule.dll
Temp/bin/Debug/UnityEngine.UmbraModule.xml
Temp/bin/Debug/UnityEngine.UNETModule.dll
Temp/bin/Debug/UnityEngine.UNETModule.xml
Temp/bin/Debug/UnityEngine.UnityAnalyticsModule.dll
Temp/bin/Debug/UnityEngine.UnityAnalyticsModule.xml
Temp/bin/Debug/UnityEngine.UnityConnectModule.dll
Temp/bin/Debug/UnityEngine.UnityConnectModule.xml
Temp/bin/Debug/UnityEngine.UnityTestProtocolModule.dll
Temp/bin/Debug/UnityEngine.UnityTestProtocolModule.xml
Temp/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
Temp/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.xml
Temp/bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
Temp/bin/Debug/UnityEngine.UnityWebRequestAudioModule.xml
Temp/bin/Debug/UnityEngine.UnityWebRequestModule.dll
Temp/bin/Debug/UnityEngine.UnityWebRequestModule.xml
Temp/bin/Debug/UnityEngine.UnityWebRequestTextureModule.dll
Temp/bin/Debug/UnityEngine.UnityWebRequestTextureModule.xml
Temp/bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
Temp/bin/Debug/UnityEngine.UnityWebRequestWWWModule.xml
Temp/bin/Debug/UnityEngine.VehiclesModule.dll
Temp/bin/Debug/UnityEngine.VehiclesModule.xml
Temp/bin/Debug/UnityEngine.VFXModule.dll
Temp/bin/Debug/UnityEngine.VFXModule.xml
Temp/bin/Debug/UnityEngine.VideoModule.dll
Temp/bin/Debug/UnityEngine.VideoModule.xml
Temp/bin/Debug/UnityEngine.VRModule.dll
Temp/bin/Debug/UnityEngine.VRModule.xml
Temp/bin/Debug/UnityEngine.WindModule.dll
Temp/bin/Debug/UnityEngine.WindModule.xml
Temp/bin/Debug/UnityEngine.xml
Temp/bin/Debug/UnityEngine.XRModule.dll
Temp/bin/Debug/UnityEngine.XRModule.xml
Temp/bin/Debug/UnityScript.dll
Temp/bin/Debug/UnityScript.Lang.dll
Temp/UnityTempFile-05022043d4cd7f040ac54b7bdb06be95
Temp/UnityTempFile-10972af5f4abd7f4d867ee8b81963736
Temp/UnityTempFile-359c1ffccd9df0d41a584ca657bdd11f
Temp/UnityTempFile-3a945b11cfd318c438746497e02cfa3a
Temp/UnityTempFile-48fffbccb53db2f4b9f99b4a6e3076f5
Temp/UnityTempFile-4f7bc942b54036f4f92189d5287bd849
Temp/UnityTempFile-7424f1444e5ea1842a3d243b2a3155d9
Temp/UnityTempFile-7703a306687254047bed30413aafb771
Temp/UnityTempFile-77a240aebf05ac94daef7b9860dd87e9
Temp/UnityTempFile-7974bb1cd95ff6c4aaa228b22c9e161b
Temp/UnityTempFile-9ab3ff2ebe3c3594b9fa5748ce60f5e3
Temp/UnityTempFile-b481c26ec25792a42838b77e83e6304a
Temp/UnityTempFile-bafe24329dba77948b6601cbaba8893a
Temp/UnityTempFile-d68d45b0b962a5c4494a5142512daae6
Temp/UnityTempFile-d826435440318f7419933bbbe9e755b9
Temp/UnityTempFile-dffd1d6f3b95fa346b677bc9e95361e8
Temp/UnityTempFile-e089c1d08af78e94ba8029eb387442e3
.vs/Puremvc/v15/.suo
Library/assetDatabase3
Library/metadata/08/08b887f792736bc47b499a0836c9d0b4
Library/metadata/19/19c9650a3c2e4324a8464bad05109418
Library/metadata/22/220c928473a060742934572026bd331d
Library/metadata/25/25b9c3cced2a00e458b1fac119efb2b1
Library/metadata/2c/2cae4b6787be43d46b8d36bfe8cce1bc
Library/metadata/3d/3dcdf6cf36a2a764d825c2884a175a60
Library/metadata/41/41062b8b32a28384c8af62189f46c9a0
Library/metadata/4a/4a5a9f09828059d46bc2df6401bc276f
Library/metadata/66/66f99565411320146b71636ca1c5e2ac
Library/metadata/7d/7da29f02925d1bc458472cef70b3a589
Library/metadata/7d/7de230843d66f8c4f8e206c0667d2589
Library/metadata/7f/7f298cdd5b04b1e4492c00e75e2dc4c4
Library/metadata/80/801f3717dc706ba419792f98e01c1d93
Library/metadata/8b/8b2da911d3662554a8655e423a6c071c
Library/metadata/93/939e890efe4517342ba2ae8d7f25e866
Library/metadata/93/93e97f13803aa7b4aa70185fc3fe3a45
Library/metadata/9d/9dd7eb7c1d782134189bfc2f5c06c677
Library/metadata/a4/a43b97728ffcd6e4b8497cb1981eb1a5
Library/metadata/a6/a6daf17aceb0f49488b6739c1f97ac7a
Library/metadata/ab/ab4e50221ea9bc342a12d74928309ef2
Library/metadata/b2/b27492320d5548c4eb86e0caa29b340b
Library/metadata/b9/b98307a7d0deaf24abc3458070974c3e
Library/metadata/c6/c6c2eb78777bdcc438143b12bce2f2c8
Library/metadata/c8/c850a368a43467c46b30d1d409d7860b
Library/metadata/cb/cbfb161822e34cb4d8adf692e2dcb1f7
Library/metadata/e7/e7288a84ffceed84bb950e778536f271
Library/metadata/f5/f5107e0c6e90d1f4aa60bda2fc5dfe6a
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/StateCache/Hierarchy/1893ea-mainStage.json
